/**
 * Standard typography
 */

.wysiwyg
  font-size: 1.15rem
  line-height: 1.6

  h2
    position: relative
    font-size: 1.9em
    display: flex
    align-items: center
    margin: 6px 0 3px
    @include overlock-black--italic()

    &::before
      position: relative
      content: ''
      width: .75em
      height: .8em
      margin: 0 .4rem 0 0
      background: url('/static/icons/bookmark-tag.svg') 50%/contain no-repeat
      padding: 0 6px 0 0
      opacity: 1
      transition: opacity .2s ease-in-out, transform .2s ease-in-out

  h3
    font-size: 1.3em
    width: 100%
    margin: 6px 0 3px
    @include overlock-black--italic()

  p
    width: 100%
    margin: 0 auto 18px

    code
      color: $color-red
      padding: 5px 8px
      background: rgba($color-grey--lighter, .5)
      border-radius: 5px

  a
    position: relative
    text-decoration: none
    color: $color-black

  blockquote
    @include overlock-regular--italic()
    position: relative
    width: 100%
    margin: 0 auto 15px
    font-size: 1.8em
    line-height: 1.2
    padding: 14px 20px
    text-align: center

    &::before,
    &::after
      position: absolute
      left: 10%
      width: 80%
      height: 10px
      content: ''
      display: block
      background-image: url('/static/parts/blockquote-line.svg')
      background-size: auto 100%
      background-position: 50%


    &::before
      top: 0

    &::after
      bottom: 0


  hr
    border: 0
    height: 10px
    background-image: url('/static/parts/blockquote-line.svg')
    background-size: auto 100%
    background-position: 50%
    margin: 4rem 0

  .kg-card
    display: block
    margin: 20px auto
    text-align: center

    figcaption
      @include overlock-regular--italic()
      color: $color-grey
      padding: 10px 0
      font-size: 1.2rem

  figure.kg-card
    position: relative
    width: 90%

    &.kg-width-wide
      margin: 35px auto
      width: 100%

    &.kg-width-full
      margin: 45px auto
      width: 110%
      left: -5%


    img
      width: 100%

  .twitter-tweet-rendered
    .kg-card &
      display: inline-block !important

@include respond(640px)
  .wysiwyg
    font-size: 1.3rem
    // width: 90%

@include respond(980px)
  .wysiwyg
    font-size: 1.48rem

    p,
    blockquote
      margin: 0 0 40px

    blockquote
      padding: 40px 60px 40px 30px

    .kg-card
      margin: 40px auto

    iframe
      width: 100%

    figure.kg-image-card
      &.kg-width-wide
        margin: 55px auto
        width: 100%

      &.kg-width-full
        width: 120%
        left: -10%

    h2
      font-size: 2.1em

      &::before
        position: absolute
        padding: 0
        margin: 0
        right: calc(100% + 7px)

        &:hover
          transform: scale(1.3)

      &:hover
        &::before
          transform: scale(1.3)
