// Base reset for html styles

html
  @include muli-light()
  color: $color-black
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 12px
  line-height: 1.5
  background-color: $color-grey--superlight

*,
*::before,
*::after
  box-sizing: inherit
