// Create mixins for using fonts within other sheets
@mixin overlock-regular()
  font-family: "Overlock", Arial, Helvetica, sans-serif
  font-style: normal
  font-weight: 400

@mixin overlock-regular--italic()
  font-family: "Overlock", Arial, Helvetica, sans-serif
  font-style: italic
  font-weight: 400

@mixin overlock-black()
  font-family: "Overlock", Arial, Helvetica, sans-serif
  font-style: normal
  font-weight: 900

@mixin overlock-black--italic()
  font-family: "Overlock", Arial, Helvetica, sans-serif
  font-style: italic
  font-weight: 900

@mixin muli-light()
  font-family: "Muli", Arial, Helvetica, sans-serif
  font-style: normal
  font-weight: 300

@mixin muli-light--italic()
  font-family: "Muli", Arial, Helvetica, sans-serif
  font-style: italic
  font-weight: 300

@mixin muli-bold
  font-family: "Muli", Arial, Helvetica, sans-serif
  font-style: normal
  font-weight: 700

@mixin muli-bold--italic
  font-family: "Muli", Arial, Helvetica, sans-serif
  font-style: italic
  font-weight: 700
