.page_top
  position: relative
  z-index: 1
  width: 100%
  padding-top: 90px
  padding-bottom: 80px
  background: linear-gradient(36deg, $color-orange--dark, $color-orange--light)
  text-align: center
  transform: skewY(-5deg)
  transform-origin: 0 0

  &.page_top--post
    padding-bottom: 130px

@include respond(560px)
  .page_top
    padding-top: 80px
    transform: skewY(-4deg)

    &.page_top--post
    padding-bottom: 150px

@include respond(768px)
  .page_top
    padding-top: 130px
    padding-bottom: 140px

    &.page_top--post
      padding-bottom: 190px

@include respond(1160px)
  .page_top
    padding-top: 150px
    transform: skewY(-2.5deg)

    &.page_top--post
      padding-bottom: 200px

@include respond(1500px)
  .page_top
    padding-top: 170px

    &.page_top--post
      padding-bottom: 240px


// Content container
.page_top__content
  position: relative
  display: block
  width: 80%
  max-width: 786px
  margin: 0 auto
  transform: skewY(5deg)
  transform-origin: 0 0

@include respond(560px)
  .page_top__content
    transform: skewY(4deg)

@include respond(768px)
  .page_top__content
    width: 60%
    margin: 0 auto

@include respond(1160px)
  .page_top__content
    transform: skewY(2.5deg)



// Title
.page_top__title
  @include overlock_black--italic()
  font-size: 2.6rem
  line-height: 1
  margin: 0 auto

  .page_top--home &
    font-size: 3rem

@include respond(560px)
  .page_top__title
    font-size: 2.9rem

    .page_top--home &
      font-size: 3.6rem

@include respond(768px)
  .page_top__title
    font-size: 3.4rem

    .page_top--home &
      font-size: 4rem

@include respond(1024px)
  .page_top__title
    font-size: 4.9rem

    .page_top--home &
      font-size: 5.6rem



// Intro paragraph
.page_top__intro
  display: block
  margin: 0 auto
  max-width: 360px
  font-size: 1.25rem
  line-height: 1.3

  p
    margin: .5rem 0 1rem

  strong
    @include muli-bold()

@include respond(560px)
  .page_top__intro
    font-size: 1.35rem

@include respond(768px)
  .page_top__intro
    font-size: 1.75rem

    p
      margin: 1rem 0



// Intro datestamp
.page_top__datestamp
  @include overlock-regular--italic()
  position: relative
  display: block
  color: $color_white
  margin: 0 auto 7px
  line-height: 1
  font-size: 1.2rem

@include respond(768px)
  .page_top__datestamp
    font-size: 1.5rem
    margin: 0 auto 20px

    &::after
      @include overlock-black--italic()
      position: absolute
      left: 50%
      top: 90%
      width: 100%
      font-size: 1.9rem
      content: '~'
      transform: translateX(-50%)
